.stApp > header {
    background-color: transparent;
    box-shadow: none;

}

.st-emotion-cache-dvne4q {
    padding: 0.1rem 0.5rem;
}

.stApp {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    text-emphasis-color: #00008B;
    overflow: auto;
    background-color: #E9A753;
    animation: gradient 15s ease infinite;
    background-attachment: fixed;
    
}


/* Change the sidebar color*/
[data-testid=stSidebar] {
    background-color: #D9CCC4;
    
  }

.st-emotion-cache-16txtl3 {
    padding: 0rem 0.2rem;
}
  

[data-testid=stSidebarContent]{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: overlay;
}
  

body {
    color: #00008B;  /* Ensure body text is dark blue */
}

/* Headings in Dark Blue */
h1, h2, h3, h4, h5, h6 {
    padding-top: 0;
    margin-top: 0;
    color: #00008B;
    font-weight: bold;
}

/* Sidebar Styling */
.stSidebar {
    background-color: rgba(233, 167, 83, 0.7);  /* Slightly transparent background */
    color: #00008B;
}











